.normal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
}

.main {
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  flex: 1 0 auto;
}
